extends layout
block content
  include ../../../common_features/navbar.pug
  div#global-wrapper.content
    div.columns
      div.column.is-2
        include ../../../common_features/menu.pug
      div.column.is-7(style="background: #fff;")
        h2| Tag Manager
        p
          a.button.is-success(href="/articles/tags/add")
            i.fas.fa-plus-circle
            span| Add new tag
        each tag, i in tags
          div.columns
            div.column.is-12
              h5.has-text-info= tag.tag
              div#crud_btns
                a.button.is-small.is-warning(href="/articles/tags/edit/" + tag.id)| edit
                //- a.button.is-small.is-danger(href="/articles/tags/delete/" + tag.id)| delete
        
      include ../../../common_features/rightbar.pug
            
    script(type="text/javascript" src="/js/common-features.js")
