aside.menu#left-bar
  p.menu-label| Articles
  ul
    li
      a(href="/articles/write")
        i.fas.fa-pencil-alt
        span|  write
    li
      a(href="/articles/view_list")
        i.fas.fa-list
        span|  view list
    li
      a(href="/articles/category/list")
        i.fas.fa-divide
        span|  categories
    li
      a(href="/articles/tags/list")
        i.fas.fa-tags
        span|  Tags
  p.menu-label| Tutorials
  ul
    li
      a(href="/article/write")
        i.fas.fa-plus-square
        span|  add new
    li
      a(href="#")
        i.fas.fa-list
        span|  existing
  p.menu-label| Account
    ul
      li
        a(href="/settings")
          i.fas.fa-user-cog
          span|  settings
      li
        a(href="/logout")
          i.fas.fa-power-off
          span|  logout
