div#right-bar.column.is-3
  div.field.has-addons
    div.control
      input.input(type="text" placeholder="Enter keywords here")
    div.control
      button.button.is-dark| Search
      
  //div#popular-posts.wrapper
    div
      h5| Popular Posts
    
    div.is-mobile
      a(href="#")| erform CRUD operations using nodejs, express, mongodb and mongoose.
        
    
    div.is-mobile
      a(href="#")| erform CRUD operations using nodejs, express, mongodb and mongoose.
        
    
    div.is-mobile
      a(href="#")| erform CRUD operations using nodejs, express, mongodb and mongoose.
